<!-- Header section containing logo -->
<header class="mdl-layout__header mdl-color-text--white mdl-color--indigo-pink-700">
  <div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-grid">
    <div class="mdl-layout__header-row mdl-cell mdl-cell--12-col mdl-cell--6-col-tablet mdl-cell--12-col-desktop">
      <h3><i class="material-icons">message</i>puffChat</h3>
    </div>

    <div id="user-container">
      <div class="mdl-grid float-right user-container__nav" *ngIf="user">

        <div class="mdl-cell--4-col" id="user-name">
          <p>Hello, {{userName}}</p>
        </div>
        <div class="mdl-cell--4-col">
          <a class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-color-text--white" (click)="logout()">Log out</a>
        </div>


        <div class="mdl-cell--4-col">
          <div *ngIf="!isEditExpanded">
            <a class="mdl-button mdl-js-button mdl-js-ripple-effect button mdl-button--accent mdl-color-text--white"
              (click)="isEditExpanded=!isEditExpanded">Update Name</a>
          </div>

          <div *ngIf="isEditExpanded">
            <input #newDisplayName required type="text" placeholder="New Name">

            <a class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-color-text--white" (click)="updateDisplayName(newDisplayName.value);isEditExpanded=!isEditExpanded">Update
              Name</a>
          </div>
        </div>





      </div>
      <!-- <button id="sign-in" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-color-text--white">
          <i class="material-icons">account_circle</i>
        </button> -->
      <div *ngIf="!user">
        <p><a routerLink="/">Please Log in</a></p>
        <!-- <label>Enter Username</label>
          <input type="text" #userNameInput>
          <button type="click" (click)="createUser(userNameInput.value)">Submit</button> -->
        <!-- <div class="log-in-container">
          <label for="email">Email: </label>
          <input #email type="text" required>
          <label for="password">Password: </label>
          <input #password type="password" required>
          <button (click)="login(email.value, password.value)">Log in</button>
        </div> -->
        <!-- <div class="sign-up-container">
          <label for="newEmail">Email: </label>
          <input #newEmail type="text" required>
          <label for="newPW">Password: </label>
          <input #newPW type="password" required>
          <button (click)="createAccount(newEmail.value, newPW.value)">Sign Up</button>
        </div> -->
      </div>

    </div>
  </div>
</header>

<main *ngIf="user" class="mdl-layout__content mdl-color--grey-100">
  <div id="messages-card-container" class="mdl-cell mdl-cell--12-col mdl-grid">

    <!-- Messages container -->
    <div id="messages-card" class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-cell--6-col-tablet mdl-cell--6-col-desktop">
      <div class="mdl-card__supporting-text mdl-color-text--grey-600">
        <div id="messages">
          <!-- Ngfor loop will be located here -->
          <div *ngFor="let message of messages" id="message-filler">

            <div *ngIf="message.username != userName" class="initial-box">
              <h3>{{message.username[0].toUpperCase()}}</h3>
            </div>


            <span [class.float-right]="message.username == userName">({{message.username}}, {{ message.timestamp
              |date:'medium' }})</span><br />

            <div [class.me]="message.username != userName" [class.mdl-cell--3-offset]="message.username == userName"
              class="chat-bubble">
              <div *ngIf="regex.test(message.msg); else textMessage">
                <img class="img__element" [src]="message.msg.replace('THIS_IS_IMAGE', '')">
              </div>
              <ng-template #textMessage>
                <p class="message__element">{{message.msg}}</p>
              </ng-template>
            </div><br />
          </div>
        </div>

        <form id="message-form" onkeypress="return event.keyCode != 13;" action="#">
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input (keydown.enter)="sendMsg(msgInput.value); msgInput.value =''" class="mdl-textfield__input" type="text"
              id="message" #msgInput name="" value="" placeholder="Message..." required>
          </div>
          `

          <!-- Here comes the buttons -->
          <a type="click" (click)="sendMsg(msgInput.value); msgInput.value='';" class="mdl-button mdl-js-button mdl-button--raised  mdl-button--colored mdl-js-ripple-effect">
            Send
          </a>
        </form>

        <!-- Emoji Menu -->
        <div class="dropdown">
          <a><img class="emoji-button" src="../../assets/emoji/PuffChat Smiley.png" (click)="emojiMenuShow()" alt="emoji button"></a>
          <div id="dropdown-content" class="hide">
            <div class="emoji-select-container" *ngFor="let emoji of emojiIconList">
              <a><img class="emoji-select-icon" (click)="sendEmoji(emoji.src)" src={{emoji.src}} alt="Emoji click icon"></a>
              <div class="emoji-text">
                {{emoji.name}}
              </div>
            </div>
          </div>
        </div>

        <!-- <form id="image-form" action="#">
          <a (click)="sendImg(msgInput.value); msgInput.value ='' " type="click" id="submitImage" title="Add an image"
            class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--amber-400 mdl-color-text--white">
            <i class="material-icons">image</i>
          </a>
        </form> -->

        <form id="image-form">
          <a type="click" id="submitImage" title="Add an image" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--amber-400 mdl-color-text--white">
            <i class="material-icons" (click)="imgInputShow()">image</i>
          </a>
        </form>


        <div id="img-dropdown-content" class="hide">
          <div class="mdl-grid">
          <div class="mdl-cell--9-col">
            <input [(ngModel)]=imgInputModel #imgInputField (keydown.enter)="sendImg(imgInput.value); imgInputModel=''"
              class="form-control img-src-input mdl-textfield__input" type="text" id="img" placeholder="Enter URL...">
          </div>

          <div class="mdl-cell--2-col">
            <a type="click" (click)="sendImg(imgInputModel); imgInputModel='';" class="img-button mdl-button mdl-js-button mdl-button--raised  mdl-button--colored mdl-js-ripple-effect">
              Send
            </a>
          </div>
        </div>
          <div class="mdl-grid">
            <div ></div>
              <div [hidden]="imgInputModel==null" class="img-preview">
                <img [src]="imgInputModel">
              </div>
            </div>
        </div>




        <div id="must-signin-snackbar" class="mdl-js-snackbar mdl-snackbar">
          <div class="mdl-snackbar__text"></div>
          <button class="mdl-snackbar__action" type="button"></button>
        </div>
      </div>
    </div>
  </div>
</main>

<div>
  <select [(ngModel)]="selectedChatroom" (ngModelChange)="changeChatroom()" name="selectedChatroom">
    <option *ngFor="let chatroom of chatroomList" [value]="chatroom.id">{{chatroom.title}}</option>
  </select>
</div>